<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrjBarretosBurguerNovo.Properties.Settings.strC" connectionString="workstation id=BarretosBurguer.mssql.somee.com;packet size=4096;user id=SmartSolutions_SQLLogin_1;pwd=1ls8tf3tbw;data source=BarretosBurguer.mssql.somee.com;persist security info=False;initial catalog=BarretosBurguer" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>